@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: 	hsl(15, 0%, 0%);
}
.container {
  display: flex;
  flex-direction: column;
}

/* ----- Header ----- */

header {
  height: 10rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color:rgb(216, 216, 216);
  padding-top: 1rem;
}
header a {
  text-decoration: none;
  color:rgb(216, 216, 216);
  font-size: 2rem;
}
.search-container {
  display: flex;
  justify-content: flex-start;
}
input {
  outline: none;
  margin-right: 1rem;
  height: 3.5rem;
  border: 3px solid white;
  border-radius: 3px;
}
header button {
  color: rgb(216, 216, 216);
  border:none;
  background-color:transparent;
  outline:none;
  font-size: 2rem;
}


/* ----- /Header ----- */