@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --user-info-width: 90%;
  --font-color: rgb(184, 197, 214);
  --dropdown-display: -9999;
}

body {
  background-color: rgb(12, 15, 10);
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----- Header ----- */

header {
  height: 10rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color:var(--font-color);
  padding-top: 1rem;
}
header a {
  text-decoration: none;
  color:var(--font-color);
  font-size: 2rem;
}
.search-container {
  display: flex;
  justify-content: flex-start;
}
input {
  position: relative;
  outline: none;
  margin-right: 1rem;
  height: 3.5rem;
  border: 3px solid white;
  border-radius: 3px;
}



button {
  color: var(--font-color);
  border:none;
  background-color:transparent;
  outline:none;
  font-size: 2rem;
  cursor: pointer;
}
button:hover {
  filter: brightness(150%);
}


/* ----- Grid To List Button ----- */ 
.view-btn {
  width: 2.2rem;
  height: 2.2rem;
  align-self: flex-end;
  margin-top: 5rem;
  margin-right: 1rem;
}

/* ----- Home Main Content ----- */

.users-listing {
  margin-top: 1rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.users-layout-grid {
  flex-direction: row;
  flex-wrap: wrap;
}
.users-layout-list {
  flex-direction: column;
  flex-wrap: nowrap;
  --user-info-width: 50%;
}
.user-container {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-container-grid {
  width: 30%;
  flex-direction: column;
}
.user-container-list {
  font-size: 1.4rem;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--user-info-width, 90%)
}
img {
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.user-link {
  max-width: 100%;
  color: rgb(204, 122, 103);
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-link:hover {
  filter: brightness(150%);
}
a:hover {
  filter: brightness(150%);
}

.user-type {
  color: var(--font-color);
}
.user-info {
  margin-top: 1.5rem;
  width: var(--user-info-width, 90%);
  display: flex;
  flex-direction: column;
}
.user-info h2 {
  color: var(--font-color);
  font-size: 1.2rem;
  text-align: center;
}
.user-info ul {
  margin-top: 0.5rem;
}
.user-info li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* ----- User Page ----- */
.user-data-container h3 {
  color: white;
}
.home-link {
  margin-top: 2rem;
  color: var(--font-color);
}
.home-router-link {
  text-decoration: none;
}
.user-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border: 1px solid rgb(145, 145, 145);
  margin-top: 3rem;
}
.userpage-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.username-page-link {
  color: rgb(204, 122, 103);
  margin-top: 0.5rem;
  font-size: 1.6rem;
  text-decoration: none;
}
.userpage-user-info h2 {
  color: var(--font-color);
}
.user-description {
  width: 80%;
  margin-top: 1rem;
}
.section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 1.2rem;
}
.section-name::before {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 19vw;
  background: linear-gradient(to right, rgba(240,240,240,0), var(--font-color));
  margin-right: 2rem;
}
.section-name::after {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 19vw;
  background: linear-gradient(to left, rgba(240,240,240,0), var(--font-color));
  margin-left: 2rem;
}
.repos {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.repos ul {
  list-style-type: none;
  color: white;
  font-size: 1.05rem;
 
}
.repos li + li {
  margin-top: 0.1rem;
}
.organizations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.org {
  min-width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 1px solid rgb(145, 145, 145);
  margin: 0.5rem;
}
.org a {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(204, 122, 103);
}
.org img {
  width: 4rem;
  height: 4rem;
}


/* ----- Media Queries ----- */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  .users-listing {
    width: 50%;
  }
  .user-container-grid {
    width: 25%;
  }
  .user-container-list {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.4rem;
  }
  /* ----- User Page ----- */
  .section-name {
    font-size: 1.6rem;
  }
  .repos li {
    font-size: 1.3rem;
  }
  .org {
    min-width: 25%;
  }
  .userpage-user-info img {
    width: 6rem;
    height: 6rem;
  }


}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  .users-listing {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .user-link {
    font-size: 1.4rem;
  }
  .user-container-grid {
    width: 30%;
  }
  .user-info h2 {
    font-size: 1.5rem;
  }
  .user-info li {
    font-size: 1.3rem;
  }
  /* ----- User Page ----- */
  .user-data-container {
    width: 60%;
  }
  .section-name {
    font-size: 1.8rem;
  }
  .repos li {
    font-size: 1.6rem;
  }
  .org a {
    font-size: 1.4rem;
  }
}