@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --user-info-width: 90%;
}

body {
  background-color: rgb(12, 15, 10);
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----- Header ----- */

header {
  height: 10rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color:rgb(184, 197, 214);
  padding-top: 1rem;
}
header a {
  text-decoration: none;
  color:rgb(184, 197, 214);
  font-size: 2rem;
}
.search-container {
  display: flex;
  justify-content: flex-start;
}
input {
  outline: none;
  margin-right: 1rem;
  height: 3.5rem;
  border: 3px solid white;
  border-radius: 3px;
}
button {
  color: rgb(184, 197, 214);
  border:none;
  background-color:transparent;
  outline:none;
  font-size: 2rem;
}

/* ----- Grid To List Button ----- */ 
.view-btn {
  width: 2.2rem;
  height: 2.2rem;
  align-self: flex-end;
  margin-top: 5rem;
  margin-right: 1rem;
}

/* ----- Home Main Content ----- */

.users-listing {
  margin-top: 1rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.users-layout-grid {
  flex-direction: row;
  flex-wrap: wrap;
}
.users-layout-list {
  flex-direction: column;
  flex-wrap: nowrap;
  --user-info-width: 50%;
}
.user-container {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-container-grid {
  width: 30%;
  flex-direction: column;
}
.user-container-list {
  font-size: 1.4rem;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--user-info-width, 90%)
}
img {
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.user a {
  max-width: 95%;
  color: rgb(204, 122, 103);
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user h3 {
  color: rgb(184, 197, 214);
}
.user-info {
  margin-top: 1.5rem;
  width: var(--user-info-width, 90%);
  display: flex;
  flex-direction: column;
}
.user-info h2 {
  color: rgb(184, 197, 214);
  font-size: 1.2rem;
  text-align: center;
}
.user-info ul {
  margin-top: 0.5rem;
}
.user-info li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* ----- /Home Main Content ----- */

/* ----- Media Queries ----- */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  .users-listing {
    width: 50%;
  }
  .user-container-grid {
    width: 25%;
  }
  .user-container-list {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.4rem;
  }

}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  .users-listing {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .user a {
    font-size: 1.4rem;
  }
  .user-container-grid {
    width: 30%;
  }
  .user-info h2 {
    font-size: 1.5rem;
  }
  .user-info li {
    font-size: 1.3rem;
  }
}